.cart-hero {
  // border: 1px solid green;
  margin-bottom: 20px;
}

.items-in-cart {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  .cart-headings {
    margin-top: 2px;
    display: flex;
    align-items: flex-start;
    font-family: 'Tinos', serif;
  font-size: 11px;
  font-weight: 700;
    .cart-heading-empty {
      margin-right: 393px;
    }
    .cart-heading-item {
      margin-right: 452px;
    }
    .cart-heading-qty {
      margin-right: 170px;
    }
  }

  .cart-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 19px;
  }
}

.cart-content {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3px;
  padding-bottom: 10px;
  // border-bottom: 1px solid grey;
  .cart-content-image {
    width: 100px;
    margin-right: 279px;
    
  }
  .cart-content-prod-info {
    font-family: 'Tinos', serif;
    font-size: 13px;
    color: #C61B21;
    width: 300px;
    margin-right: 174px;
    margin-top: -5px;
    div {
      color: black;
      margin-top: -10px
    }
  }  
  .cart-content-item-count {
    font-family: 'Tinos', serif;
    font-size: 13px;
    margin-top: -5px;
    input {
      width: 40px;
      height: 23px;
      padding-left: 9px;
      font-family: 'Ropa Sans', sans-serif;
      font-size: 11px;
    }
    .cart-content-btn {
      margin-top: 9px;
      margin-right: 145px;
      button {
      border: none;
      font-family: 'Tinos', serif;
      font-size: 13px;
      color: #C61B21;
      }
    }
  }   
  .cart-content-subtotal {
    font-family: 'Tinos', serif;
    font-size: 13px;
    width: 175px;
    margin-top: -4px;
  }
}

.cart-totals {
  display: table-footer-group;
  vertical-align: middle;
  border-top: 1px solid lightgrey;
  margin: 0 10px;
  font-family: 'Tinos', serif;
  font-size: 13px;
  .cart-subtotal, .cart-vat, .cart-total, .cart-repair {
    div {
      text-align: right;
      width: 1240px;
      
    }
  
  }
  .cart-repair {
    font-size: 16px;
  }
}

.cart-update-checkout {
  // border-top: 1px solid grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  .update-cart-btn, .checkout-btn {
    background-color: #C61B21;
    color: white;
    border: none;
   
    height: 39px;
    font-family: 'Tinos', serif;
    font-size: 13px;
    font-weight: 700;
  }
  .update-cart-btn {
    margin-right: 17.57px;
    width: 119px;
  }
  .checkout-btn {
    width: 102.52px;
  }
}


.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  img {
    width: 2em;
  }
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  background-color: #231F20;
  
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.cart-info {
  // border: 1px solid red;
  border-bottom: 2px solid #231f20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 80px;
  padding-bottom: 40px;
  // margin: 0 10px;
  h3 {
    font-family: 'Tinos', serif;
    font-size: 19px;
    font-weight: 700;
  }
  p {
    margin: 10px 0;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
  }
  .cart-info-left, .cart-info-right {
    height: 182px;
    width: 609.5px;
    margin: 0 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .link-to-faq {
      text-decoration: none;
      color: #C61B21;
    }
  }
}

.empty-cart {
  margin-left: 10px;
  font-family: 'Tinos', serif;
  h1 {
    margin-top: 62px;
    font-size: 32px;
    font-weight: 700;
  }
  p {
    margin-top: 41px;
    margin-bottom: 58px;
    font-size: 16px;
    .link-to-all {
      text-decoration: none;
      color: #C61B21;
    }
  }
}