.mens-collection-hero {
  display: flex;
  flex-direction: column;
}

.mens-collection-banner {
  width: 100%;
  background-image: url(https://s3.us-east-2.amazonaws.com/hiut-clone/Pages/mens_collection/banner-mens.png);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  float: left;
  min-height: 200px;
  height: 0;
  margin-bottom: 1.2em;
  padding-bottom: 1.25em;
  .mens-banner-title {
    float: right;
    .mens-collection-title {
      width: 19.3em;
      text-align: right;
      color: #ffffff;
      font-family: 'Tinos', serif;
      font-size: 2.5em;
      line-height: 1.2;
      font-weight: 700;
      padding-right: 0.925em;
      padding-top: 1.3em;
    }
  }
}

.selvedge-denim {
  border-top: 1px solid #231F20;
  padding-top: 2.2em;
  display: flex;
  flex-direction: column;
  .selvedge {
    display: flex;
    align-items: flex-start;
    font-family: 'Tinos', serif;
    div {
      width: 4.875em;
      padding: 0 0.625em;
      margin-top: -1px;
    }
    img {
      width: 2.75em;
      margin-bottom: 11px;
      margin-top: -1px;
    }
    h3 {
      font-weight: 700;
      font-size: 1.189em;
      padding: 0 0.625em;
      margin-right: 4.8em;
      margin-top: .05em;
    }
    p {
      font-size: 0.8em;
      font-style: italic;
      color: #999999;
      line-height: 1.5;
      width: 45em;
      margin-top: 3px;
    }
  }
  .selvedge-denim-products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2.06em;
    margin-top: .2em;
  }
}

.men-product {
  .men-product-img {
    width: 19.625em;
  }
  .men-product-info {
    margin-left: 1.25em;
    margin-top: 0.4em;
  }
  .men-product-fit {
    line-height: 1em;
    font-weight: 700;
    font-family: 'Tinos', serif;
    font-size: 1.2em;
  }
  .men-product-name, .men-product-desc {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 0.813em;
    color: #999999;
  }
  .men-product-price {
    line-height: 0.7em;
    font-weight: 700;
    font-family: 'Tinos', serif;
    font-size: 1em;
    color: #C61B21;
  }
}

.organic-denim {
  border-top: 1px solid #231F20;
  padding-top: 2.2em;
  display: flex;
  flex-direction: column;
  .organic {
    display: flex;
    align-items: flex-start;
    font-family: 'Tinos', serif;
    div {
      width: 4.875em;
      padding: 0 0.625em;
      margin-top: -1px;
    }
    img {
      width: 2.75em;
      margin-bottom: 11px;
      margin-top: -1px;
    }
    h3 {
      font-weight: 700;
      font-size: 1.189em;
      padding: 0 0.625em;
      margin-right: 4.8em;
      margin-top: .05em;
    }
    p {
      font-size: 0.8em;
      font-style: italic;
      color: #999999;
      line-height: 1.5;
      width: 45em;
      margin-top: 3px;
    }
  }
  .organic-denim-products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2.06em;
    margin-top: .2em;
  }
}




.anderson-denim {
  border-top: 1px solid #231F20;
  padding-top: 2.2em;
  display: flex;
  flex-direction: column;
  .anderson {
    display: flex;
    align-items: flex-start;
    font-family: 'Tinos', serif;
    div {
      width: 4.875em;
      padding: 0 0.625em;
      margin-top: -1px;
    }
    img {
      width: 2.75em;
      margin-bottom: 11px;
      margin-top: -1px;
    }
    h3 {
      font-weight: 700;
      font-size: 1.189em;
      padding: 0 0.625em;
      margin-right: 4.8em;
      margin-top: .05em;
    }
    p {
      font-size: 0.8em;
      font-style: italic;
      color: #999999;
      line-height: 1.5;
      width: 45em;
      margin-top: 3px;
    }
  }
}

.anderson-product {
  margin-bottom: 1.3em;
  padding-bottom: 2.625em;
  border-bottom: 1px solid #231F20;
  .anderson-product-info {
    line-height: 1.4em;
    margin-left: 1.25em;
    margin-top: 0.625em;
  }
  .anderson-product-fit {
    font-weight: 700;
    font-family: 'Tinos', serif;
    font-size: 1.2em;
  }
  .anderson-product-name, .anderson-product-desc {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 0.813em;
    color: #999999;
  }
  .anderson-product-price {
    font-weight: 700;
    font-family: 'Tinos', serif;
    font-size: 1em;
    color: #C61B21;
  }
}




// .organic-product {
//   .organic-product-info {
//     line-height: 1.4em;
//     margin-left: 1.25em;
//     margin-top: 0.625em;
//   }
//   .organic-product-fit {
//     font-weight: 700;
//     font-family: 'Tinos', serif;
//     font-size: 1.2em;
//   }
//   .organic-product-name, .organic-product-desc {
//     font-family: 'Ropa Sans', sans-serif;
//     font-size: 0.813em;
//     color: #999999;
//   }
//   .organic-product-price {
//     font-weight: 700;
//     font-family: 'Tinos', serif;
//     font-size: 1em;
//     color: #C61B21;
//   }
// }