.mens-collection-banner {
  width: 100%;
  padding-bottom: 15%;
  background-image: url(https://s3.us-east-2.amazonaws.com/hiut-clone/Pages/mens_collection/banner-mens.png);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  float: left;
  min-height: 200px;
  height: 0;
  .mens-banner-title {
    float: right;
    .mens-collection-title {
      width: 19.3em;
      text-align: right;
      color: #ffffff;
      font-family: 'Tinos', serif;
      font-size: 2.5em;
      line-height: 1.2;
      font-weight: 700;
      padding-right: 0.925em;
      padding-top: 1.3em;
      // padding-top: 2em;
    }
  }
}

.selvedge-denim-products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.organic-denim-products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}