.our-denim {
  // border-top: 1px solid #231F20;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  .our-denim-heading {
    display: flex;
    align-items: flex-start;
    font-family: 'Tinos', serif;
    div {
      width: 4.875em;
      padding: 0 0.625em;
      margin-top: -1px;
    }
    img {
      width: 2.75em;
      margin-bottom: 11px;
      margin-top: -1px;
    }
    h3 {
      font-weight: 700;
      font-size: 1.189em;
      padding: 0 0.625em;
      margin-right: 4.8em;
      margin-top: .05em;
    }
  }
}